html, body {
  margin:0;
}
body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  background-color: whitesmoke;
}

h1 {
  font-weight: bold;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
  margin: -15px 0 0 -15px;
  padding: 15px;
  background-color: lightsteelblue;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 2px 1px #888;
}

h2 {
  width: 100%;
  margin: 10px 0 10px -5px;
  padding: 5px;
  background-color: lightgray;
  border-bottom: 1px solid black;
  border-top: 1px solid rgb(186, 186, 186);
  box-shadow: 0 2px 2px 1px #888;
}

.last-update {
  margin: 5px 10px 0 0;
  padding: 5px;
  font-style: italic;
  float:right;
}

#mds-loading {
  margin: 30px 10px;
  font-size: 150%;
}

#about {
  float: right;
}
#about a {
  color: white;
  text-decoration: none;
}
#about img {
  max-width: 36px;
}

.clickable, a {
  color: #0783bd;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

/* for 480px or less */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}

/* MDS */
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.vendor {
  font-style: italic;
  color: #555;
}

/* Custom Table Styles */
.table-wrapper {
  max-height: 80vh;
  overflow-y: auto;
}

.custom-table {
  max-width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 2px 1px #888;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.custom-table thead {
  background-color: #DDD;
  position: sticky;
  top: 0;
  z-index: 1;
}

.custom-table th {
  border: 1px solid #999;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  user-select: none;
  vertical-align: top;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-title-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-title {
  font-weight: bold;
}
.header-separator {
  width: 100%;
}

.hide-column-icon, .sort-indicator {
  cursor: pointer;
  font-size: 14px;
  color: #666;
  padding: 0 6px;
  border-radius: 3px;
  display: inline-block;
  user-select: none;
}

.hide-column-icon:hover, .sort-indicator:hover {
  color: #0066cc;
  font-weight: bold;
}

.header-filter {
  display: flex;
  gap: 5px;
}

.filter-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

select {
  padding: 4px 24px 4px 4px;
  border-radius: 3px;
  background: white;
}

.filter-input,
.filter-select {
  padding: 4px 24px 4px 4px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.filter-clear-btn {
  position: absolute;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  padding: 0 4px;
  display: none;
  line-height: 1;
  height: 24px;
  width: 24px;
}

.filter-clear-btn:hover {
  color: #333;
  font-weight: bold;
}

.filter-input-wrapper.has-content .filter-clear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.custom-table tbody tr.odd {
  background-color: #efefef;
}

.custom-table tbody tr.even {
  background-color: hsl(0, 0%, 98%);
}

.custom-table td {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: middle;
}

.table-footer {
  text-align: left;
  color: #555;
  white-space: nowrap;
  font-style: italic;
  font-weight: initial;
  font-size: 80%;
  padding: 10px;
  border-top: 1px solid #ddd;
  text-wrap: auto;
}

.custom-table img {
  max-width: 100px;
  max-height: 50px;
}
#authr-json img {
  max-width: 100px;
  max-height: 100px;
}
.buffer {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 95%;
  vertical-align: bottom;
}

ul, ol {
  padding-left: 20px;
}

.dark {
  background-color: #0009;
}
.img {
  text-align: center;
}

.smaller {
  font-size: 70%;
}

#mds-table td:first-of-type {
  max-width: 500px;
}

.friendly-name {
  margin: 5px 0;
}

#cmds-table th:nth-of-type(4),
#cmds-table th:nth-of-type(6) {
  background: black;
  color: white;
}

/* for small screens */
@media screen and (max-width: 680px) {
  .header-content {
    flex-direction: column;
  }
  .header-title-container {
    gap: 0;
  }
  .header-separator {
    display: none;
  }
  h1, h2, .last-update {
    font-size: 93%;
  }
  .smaller {
    font-size: 83%;
  }
  .last-update {
    float: right;
    margin-right: 3px;
    margin-top: 0;
  }
  #about img {
    max-width: 24px;
  }
  .table-wrapper {
    max-height: 72vh;
  }
  .hide-if-small {
    display: none;
  }
}
/* for mobile */
@media screen and (max-width: 480px) {
  .custom-table th, .custom-table td {
    padding: 5px;
  }
  select {
    padding: 2px;
    border-radius: 2px;
    font-size: 10px;
  }
  .filter-input, .filter-select {
    font-size: 10px;
  }
}